.LoginPage{
    background-color: rgb(226, 176, 84);
    height: 100vh; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .LoginForm{
        height: 500px;
        width: 400px;
        padding: 70px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        row-gap: 50px;

        .Top{
            display: flex;
            flex-direction: row;
            justify-content: center;
            label{
                color: rgb(152, 152, 152);
                font-size: 42px;
                font-weight: 900;
            }
        }

        .Mid{
            display: flex;
            flex-direction: column;
            row-gap: 50px;

            .field{
                padding: 10px;
                border-radius: 10px;
                border-color: #e3b74800;
                font-size: 32px;
                width: 400px;
                height: 20px;
                background-color: rgb(211, 211, 211);
            }
        }
        button {
            width: 200px;
            background-color: rgb(118 87 81);
            height: fit-content;
            padding: 10px;
            border-radius: 5px;
            outline: none;
          }
      
        button {
            color: #fff;
            border: none;
            cursor: pointer;
            font-size: 40px;
            &:hover {
                scale: 1.2;
            }
        }
        .Bottom{
            display: flex;
            flex-direction: row;
            justify-content: end;
        }
    }
}